.character-details
    padding: 20px
    padding-top: 250px

    img
        width: 170px
        height: 200px

.character-image

    input
        width: 100%
        padding: 0.5rem
        border: 1px solid #ddd
        border-radius: 4px

h2
    color: #333

ul
    list-style: none
    padding: 0

    li
        padding: 5px 0
